<!-- Sin ngModel
                    [property] se usa para acceder/modificar una propiedad de JavaScript. Esto funciona porque los elementos HTML son objectos en JavaScript con propiedades. -->
                <!-- #name se usa para crear una referencia de un objeto en la página. -->
<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->

<mat-card>
	<mat-form-field>
		<textarea matInput rows="6" [value]="newPost" [(ngModel)]='enteredValue'></textarea>
	</mat-form-field>
	
	<!-- (event) ej. mousedown, mousedown, keyup, etc.-->
	<button
		mat-raised-button
		color="accent"
		(click)="onAddPost()">Save Post</button>
</mat-card>

<p>{{newPost}}</p>